---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<li
  class="flex flex-col rounded-md drop-shadow-lg text-center justify-center border bg-[#f7f7f7] border-neutral-300 px-12 py-14"
>
  <img
    src="/img/Ellipse 1.png"
    alt="{{title}}"
    class="mb-8 w-32 aspect-square self-center"
  />
  <h3 class="text-3xl mb-6">
    {title}
  </h3>
  <p class="text-xl mb-16">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
  </p>
  <button class="bg-primary text-white py-3 px-8 rounded-md">
    Learn More
  </button>
</li>
