---
import Logo from "../Logo.astro";
---

<footer class="pt-[84px] bg-[#111827]">
  <article class="px-12 pb-16">
    <Logo />
  </article>
  <p class="bg-[#0B101B] py-6 px-12 text-white text-sm">@Magnimus Software 2024</p>
</footer>
