<h1 class="mr-auto bg-rose-600 p-2 w-24 text-xs h-16">
  <span class="text-white block">Logo</span>
  <span class="text-white block">Magnimus</span>
  <span class="text-white block">Software</span>
</h1>
